<div class="flex-shrink-0 p-3 bg-dark sidenav">
    <ul class="list-unstyled ps-0">
        <li class="mb-1">
            <button class="btn btn-danger btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse"
                    data-bs-target="#home-collapse" aria-expanded="true">
                Friends
            </button>
            <a type="button" class="btn btn-info rounded-circle btn-sm"
               href="{% url "list_requests" %}">{{ requests }}</a>
            <div class="collapse show" id="home-collapse">
                <form action="{% url 'home' %}" method="POST"> {% csrf_token %}
                    <ul class="list-group list-group-flush">
                        {% for p in friends %}
                            <input type="submit" value="{{ p.username }}" name="name"
                                   class="list-group-item list-group-item-action bg-dark text-light border-light">

                        {% endfor %}
                    </ul>
                </form>
            </div>
        </li>
        <li class="mb-1">
            <button class="btn btn-toggle btn-danger align-items-center rounded collapsed" data-bs-toggle="collapse"
                    data-bs-target="#dashboard-collapse" aria-expanded="false">
                Campaings
            </button>
            <a type="button" class="btn btn-warning btn-sm" href="{% url 'create_campaign' %}">+</a>
            <div class="collapse" id="dashboard-collapse">
                <ul class="list-group list-group-flush">
                    {% for p in campaigns %}
                        <a type="submit" href="{% url 'campaign_view' pk=p.id %}"
                           class="list-group-item list-group-item-action bg-dark text-light border-light">
                            {{ p.name }} </a>
                    {% endfor %}
                </ul>
            </div>
        </li>
        <li class="mb-1">
            <button class="btn btn-danger btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse"
                    data-bs-target="#orders-collapse" aria-expanded="false">
                Characters
            </button>
            <a type="button" class="btn btn-warning btn-sm" href="{% url "create" %}">+</a>
            <div class="collapse" id="orders-collapse">
                <form action="{% url 'sheet' %}" method="POST"> {% csrf_token %}
                    <ul class="list-group list-group-flush">
                        {% for p in characters %}
                            <input type="submit" value="{{ p.name }}" name="name"
                                   class="list-group-item list-group-item-action bg-dark text-light border-light">
                        {% endfor %}
                    </ul>
                </form>
            </div>
        </li>
    </ul>
</div>